body {
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #title {
    color: white;
    text-align: center;
    text-decoration: underline;
  }
  
  #videos {
    margin: 1rem;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
  }
  
  #videos2 {
    margin: 1rem;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
  }
  